
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: #FFFFFF, 100%;
}
li{
    color: #FFFFFF, 100%;
}



    

    
    .navbar-brand{
        margin-left: 130px;
       
        
        
    }
    #navbarNav{
        margin-right:130px ;
    }
    /* ------------------------------------------- */
    .container{
        margin-bottom: 100px;
        
        
        
        
    }
    .bond{
        margin-top: -40px;
        
    }
    
    
    .orange-bg{
        background-color:  #F0FFF0;
        
        
        
        
       
    }
    
    
    
    .carousel-item{
        padding: 20px 40px;
    }
    
    
    .buy-now-button{
        
        color: #fff;
        border: none;
        border-radius: 25px;
        padding: 9px 25px;
        cursor: pointer;
        background: #21B573;

    }
   
   /* .course{
    
        
        border: none;
        height: 170px;
        width: 170px;
        text-align: center;
        box-shadow: 5px 5px 5px #bebebe,
        -5px -5px 10px #ffffff;
        border-radius: 20px;
       

        
        
    }*/
    .course{
        background: #f8fffb;
	border-radius: 10px;
	max-width: 270px;
	min-height: 270px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	transition: 0.3s linear;

    }
    
    .course img{
        margin-bottom: 28px;
        
    
    }
    .course:hover{
        
            box-shadow: var(--shadow-3);
            transform: translateY(-3px);
        }
        
    
    
    
    .line{
        
        
        text-decoration:none;
        
        
        text-align: center;
        margin-bottom: 100px;
       
    }
    .card-img-top{
        border-radius: 10px;
        padding: 30px;
        border:none;
        
    }
    .card{
        box-shadow: 10px 10px 10px lightgrey;
        border: none;
        border-radius: 40px;


    }
    .footer{
        border-top: none;
        background-color: white;
    }
    .last{
       
      margin-left: 150px;
    }
    ul.no-bullets {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      

    
    
    
    
    
    